.navbar1_component {
  position: fixed;
  left: 0%;
  top: var(--preheader-h, 0rem);
  right: 0%;
  bottom: auto;
  z-index: 1000;

  display: flex;
  width: 100%;
  height: auto;
  padding: 1.25rem 2rem;
  align-items: center;

  border-bottom: 1px solid rgba(255, 255, 255, 0.1);

  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);

  pointer-events: auto;

  transition: background-color 200ms ease;

  color: var(--accessible-components-white-smoke);
}

@media screen and (max-width: 991px) {
  .navbar1_component {
    padding: 1rem 1.5rem;
  }
}

@media screen and (max-width: 767px) {
  .navbar1_component {
    height: auto;
    min-height: 4rem;
  }
}

@media screen and (max-width: 479px) {
  .navbar1_component {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.navbar1_container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.navbar1_logo-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: flex-start;
  grid-column-gap: 2rem;
  grid-row-gap: 0.5rem;
}

@media screen and (max-width: 767px) {
  .navbar1_logo-wrapper {
    grid-row-gap: 0.25rem;
  }
}

.navbar1_logo-wrapper.submit {
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .navbar1_logo-wrapper.submit {
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: flex-start;
  }
}

.navbar1_logo-link {
  padding-left: 0px;
  flex: 0 0 auto;
}

@media screen and (max-width: 767px) {
  .navbar1_logo-link {
    padding-left: 0px;
  }
}

.rl_navbar2_logo {
  height: 1.75rem;
}

@media screen and (max-width: 991px) {
  .rl_navbar2_logo {
    height: 1.5rem;
  }
}

@media screen and (max-width: 479px) {
  .rl_navbar2_logo {
    height: 1.25rem;
  }
}

.navbar18_date-wrapper {
  display: flex;
  padding: 1.5rem 1rem;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;

  border-right: 1px solid hsla(0, 0.00%, 100.00%, 0.16);
  border-left: 1px solid hsla(0, 0.00%, 100.00%, 0.16);
}

@media screen and (min-width: 1440px) {
  .navbar18_date-wrapper {
    position: static;
  }
}

@media screen and (max-width: 767px) {
  .navbar18_date-wrapper {
    display: none;
  }
}

.navbar18_date-wrapper.is-formly-progress {
  flex: 1;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  border-right-style: none;
  border-left-style: none;
}

.navbar18_date-wrapper.is-formly-progress.is-awards {
  padding-right: 2rem;
  padding-left: 0rem;
  grid-column-gap: 0.25rem;
  grid-row-gap: 0.25rem;
  border-left-width: 0px;
}

.navbar18_date-wrapper.is-custom {
  position: relative;
  min-width: 10rem;
  padding: 0rem 0.5rem;
  flex: 0 0 auto;
}

.navbar18_date-wrapper.is-custom.is-awards {
  display: none;
  padding-right: 0rem;
  padding-left: 0rem;
  border: 1px none black;
}

@media screen and (max-width: 991px) {
  .navbar18_date-wrapper.is-custom.is-awards {
    display: none;
    justify-content: flex-start;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .navbar18_date-wrapper.is-custom.is-awards {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

.navbar18_date-wrapper.is-custom.is-awards.hide-mobile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .navbar18_date-wrapper.is-custom.is-awards.hide-mobile {
    display: none;
  }
}

.navbar18_date-wrapper.is-custom.is-awards-menu {
  padding-right: 0rem;
  padding-left: 0rem;
  justify-content: flex-start;
  align-items: center;
  border: 1px none black;
}

@media screen and (max-width: 767px) {
  .navbar18_date-wrapper.is-custom.is-awards-menu {
    display: flex;
  }
}

.navbar18_date-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.text-size-14 {
  font-size: 0.875rem;
}

.is--text-uppercase {
  text-transform: uppercase;
}

.text-size-14.is--text-uppercase.is-custom-navbar {
  line-height: 1.2;
}

.is--text-color-silver {
  grid-row-gap: 1rem;
  color: var(--main--silver);
}

@media screen and (min-width: 1920px) {
  .is--text-color-silver {
    text-decoration: none;
  }
}

.opacity-60 {
  opacity: 0.6;
}

.navbar1_menu {
  position: static;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .navbar1_menu {
    position: absolute;

    overflow: auto;
    padding: 1rem 5% 2rem;

    border-bottom: 1px solid var(--\<unknown\|relume-variable-color-scheme-1-border\>);

    background-color: var(--main-black);

    background-clip: border-box;
    -webkit-text-fill-color: inherit;
  }
}

.navbar1_menu.is-page-height-tablet {
  justify-content: flex-end;
  align-items: center;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

@media screen and (max-width: 991px) {
  .navbar1_menu.is-page-height-tablet {
    height: calc(100dvh - var(--preheader-h, 0rem));
    padding-bottom: 6.5rem;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: stretch;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;

    transition: height 500ms ease;
  }
}

@media screen and (max-width: 767px) {
  .navbar1_menu.is-page-height-tablet {
    padding-bottom: 6rem;
  }
}

.navbar1_menu-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
  grid-column-gap: 1.5rem;
  grid-row-gap: 0.5rem;

  text-align: right;
}

@media screen and (max-width: 991px) {
  .navbar1_menu-links {
    margin-bottom: 1rem;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: stretch;
    grid-row-gap: 1rem;
  }
}

.rl_navbar2_link-text.is-awards {
  font-size: 0.875rem;
}

.rl_navbar2_link-text.is-single-link {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.rl_navbar2_link-text.text-weight-medium {
  font-weight: 500;
}

.rl_navbar2_link-text.text-weight-medium:hover {
  text-decoration: underline;
}

@media screen and (max-width: 991px) {
  .rl_navbar2_link-text.text-weight-medium {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: left;
  }
}

.show-tablet {
  display: none;
}

@media screen and (max-width: 991px) {
  .show-tablet {
    display: flex;
    margin-top: 2rem;
    justify-content: flex-start;
    align-items: center;
  }
}

.button_wrapper-navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: flex-start;
  flex: 0 0 auto;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
}

@media screen and (max-width: 991px) {
  .button_wrapper-navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    align-self: auto;
    flex: 1;
  }
}

@media screen and (max-width: 767px) {
  .button_wrapper-navbar {
    position: relative;
    z-index: 1;
  }
}

@media screen and (max-width: 479px) {
  .button_wrapper-navbar {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: stretch;
    flex: 1;
  }
}

.button {
  padding: 0.75rem 1.5rem;

  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0.00%, 100.00%, 1.00);

  background-color: hsla(208.00000000000003, 82.57%, 57.25%, 0.00);

  text-align: center;
  text-decoration: none;
}

.button.is-navbar18-button {
  position: relative;
  z-index: 1;

  padding: 0.5rem 1.5rem;

  border-style: solid;
  border-radius: 100dvw;

  font-family: Satoshi;
  font-weight: 500;
  word-break: normal;
}

.button.is-navbar18-button:hover {
  background-color: hsla(208.00000000000003, 0.00%, 0.00%, 1.00);
}

@media screen and (max-width: 767px) {
  .button.is-navbar18-button {
    padding: 0.25rem 1rem;
  }
}

.button.is-navbar18-button.is--second {
  background-color: rgba(230, 230, 230, 0.14);
  backdrop-filter: blur(5rem);
}

.button.is-navbar18-button.is--second:hover {
  background-color: hsla(208.00000000000003, 0.00%, 0.00%, 0.24);
}

.button.is-navbar18-button.is--second.hidden-tablet:global(.w--current) {
  font-family: Satoshi;
}

@media screen and (max-width: 991px) {
  .button.is-navbar18-button.is--second.hidden-tablet {
    display: block;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}

.button.is-navbar18-button.is--second.hidden-tablet.is-mobile {
  background-color: hsla(0, 0.00%, 90.20%, 0.14);
}

.button.is-navbar18-button.is--second.hidden-tablet.is-mobile:hover {
  background-color: hsla(0, 0.00%, 90.20%, 0.08);
}

@media screen and (max-width: 991px) {
  .button.is-navbar18-button.is--second.hidden-tablet.is-mobile {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .button.is-navbar18-button.is--second.hidden-tablet.is-mobile:global(.w--current) {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .button.is-navbar18-button.is--second.hidden-tablet.is-mobile {
    padding: 0.6rem 1rem;
  }
}

.button.is-navbar18-button.is--second.hidden-tablet.is-mobile.is-scaled {
  padding-right: 1rem;
  padding-left: 1rem;
}

@media screen and (max-width: 991px) {
  .button.is-navbar18-button.is--second.hidden-tablet.is-mobile.is-scaled {
    display: block;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: flex-start;

    object-fit: fill;
  }
}

@media screen and (max-width: 479px) {
  .button.is-navbar18-button.is--second.hidden-tablet.is-mobile.is-scaled {
    transform: scale(0.7);
    transform-origin: 100% 50%;
    white-space: nowrap;
    overflow-wrap: normal;
  }
}

@media screen and (max-width: 479px) {
  .button.is-navbar18-button.is--second.hidden-tablet.is-mobile.is-scaled:global(.w--current) {
    transform: scale(0.7);
    white-space: nowrap;
  }
}

.button.is-navbar18-button.is--second.hidden-tablet.is-mobile.is-scaled.is-awards {
  font-size: 0.875rem;
}

@media screen and (min-width: 1440px) {
  .button.is-navbar18-button.is--second.hidden-tablet.is-mobile.is-scaled.is-awards {
    margin-left: 1rem;
    padding-left: 1rem;
  }
}

@media screen and (max-width: 991px) {
  .button.is-navbar18-button.is--second.hidden-tablet.is-mobile.is-scaled.is-awards {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 479px) {
  .button.is-navbar18-button.is--second.hidden-tablet.is-mobile.is-scaled.is-awards {
    display: none;
    justify-content: center;
    align-items: center;
  }
}

.text-style-nowrap {
  pointer-events: none;
  font-size: 1.125rem;
  line-height: 1.5;
  white-space: nowrap;
}

.text-style-nowrap:where(.w-variant-7b983af5-6cb7-7533-7f6f-6b1e9ff656dd) {
  font-size: 1rem;
}

.text-style-nowrap:where(.w-variant-f77d7fef-a8dc-058a-cd52-a4fc4105d929) {
  font-size: 1rem;
}

.no-wrap-custom {
  font-family: Manrope;
  white-space: nowrap;
}

.button.is-navbar18-button.is--home24-hero {
  position: static;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 1.5rem;

  display: flex;
  padding: 1.25rem 4rem;
  justify-content: center;
  align-items: center;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;

  border-style: none;

  background-color: var(--main--white);

  backdrop-filter: blur(1.25rem);

  transition: all 200ms ease;

  font-family: Satoshi;
  color: var(--main-black);
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0px;
  text-transform: capitalize;
}

@media screen and (min-width: 1920px) {
  .button.is-navbar18-button.is--home24-hero {
    background-color: hsla(208.00000000000003, 0.00%, 100.00%, 0.24);
    backdrop-filter: blur(64px);
  }
}

.button.is-navbar18-button.is--home24-hero:hover {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  background-color: #252525;
  color: var(--main--white);
}

@media screen and (max-width: 767px) {
  .button.is-navbar18-button.is--home24-hero {
    padding: 1.25rem 2rem;
  }
}

.button.is-navbar18-button.is--home24-hero.is-absolute24 {
  position: absolute;
  left: 25rem;
  right: auto;
  bottom: 0.5rem;
}

@media screen and (max-width: 991px) {
  .button.is-navbar18-button.is--home24-hero.is-absolute24 {
    position: static;
  }
}

.button.is-navbar18-button.is--home24-hero.is--custom1 {
  position: relative;
  left: 1rem;
  bottom: 0rem;

  display: block;
  width: 100%;
  min-width: 21rem;

  text-transform: none;
}

.button.is-navbar18-button.is--home24-hero.is--custom1:hover {
  background-color: transparent;
}

@media screen and (max-width: 991px) {
  .button.is-navbar18-button.is--home24-hero.is--custom1 {
    bottom: 1.75rem;
    min-width: 15rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .button.is-navbar18-button.is--home24-hero.is--custom1 {
    position: static;
    min-width: auto;
  }
}

.button.is-navbar18-button.is--home24-hero.is--custom11 {
  position: relative;
  bottom: 0rem;

  width: auto;
  min-width: 16rem;

  background-color: white;

  backdrop-filter: blur(1.25rem);

  color: var(--main-black);
  font-size: 1.125rem;
  font-weight: 500;
}

.button.is-navbar18-button.is--home24-hero.is--custom11:hover {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  background-color: hsla(0, 0.00%, 66.67%, 1.00);
}

@media screen and (max-width: 991px) {
  .button.is-navbar18-button.is--home24-hero.is--custom11 {
    min-width: 15rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .button.is-navbar18-button.is--home24-hero.is--custom11 {
    position: static;
    min-width: auto;
  }
}

.button.is-navbar18-button.hidden-tablet {
  padding-right: 1rem;
  padding-left: 1rem;
  font-family: Satoshi;
  font-weight: 500;
}

@media screen and (max-width: 991px) {
  .button.is-navbar18-button.hidden-tablet {
    display: none;
  }
}

.button.is-navbar18-button.hidden-tablet.is-custom {
  background-color: hsla(208.00000000000003, 0.00%, 91.33%, 0.14);
}

.home24-gallery-tabs_menu-link {
  padding: 0.25rem 1.25rem;

  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0.00%, 100.00%, 0.00);
  border-radius: 100vw;

  background-color: hsla(0, 0.00%, 100.00%, 0.15);

  color: var(--main--white);
  font-weight: 600;
}

.home24-gallery-tabs_menu-link:global(.w--current) {
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0.00%, 100.00%, 1.00);
  background-color: hsla(0, 0.00%, 100.00%, 0.15);
}

@media screen and (max-width: 991px) {
  .home24-gallery-tabs_menu-link {
    flex: 0 0 auto;
  }
}

.button.is-navbar18-button.is-cfs {
  flex: 1;
}

.button.is-navbar18-button.is-cfs:hover {
  background-color: hsla(208.00000000000003, 0.00%, 100.00%, 0.16);
}

@media screen and (max-width: 767px) {
  .button.is-navbar18-button.is-cfs {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

.button.is-navbar18-button.is-custom {
  align-self: flex-start;
  background-color: hsla(208.00000000000003, 0.00%, 100.00%, 0.14);
  backdrop-filter: blur(1.25rem);
  transform: translate(0px, 0px);
}

.button.is-navbar18-button.is-custom:hover {
  background-color: hsla(208.00000000000003, 0.00%, 0.00%, 0.14);
}

@media screen and (max-width: 767px) {
  .button.is-navbar18-button.is-custom {
    display: inline-block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

@media screen and (max-width: 479px) {
  .button.is-navbar18-button.is-custom {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}

.button.is-navbar18-button.is-custom.is-venue2024 {
  align-self: flex-start;
}

.button.is-navbar18-button.is-custom.is--disabled {
  border-color: var(--main-ash);

  opacity: 0.77;
  backdrop-filter: blur(1.25rem);

  transform: none;
  transition: all 200ms ease-out;
}

@media screen and (max-width: 479px) {
  .button.is-navbar18-button.is-custom.is--disabled.is--display-hidden {
    justify-content: center;
    align-items: center;
    align-self: auto;
  }
}

.is--display-hidden {
  display: none;
}

.button.is-navbar18-button.is-custom2 {
  background-color: hsla(208.00000000000003, 0.00%, 60.00%, 0.12);
}

.button.is-navbar18-button.is-custom2:hover {
  background-color: hsla(208.00000000000003, 0.00%, 0.00%, 0.05);
}

@media screen and (max-width: 767px) {
  .button.is-navbar18-button.is-custom2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    align-self: stretch;
  }
}

@media screen and (max-width: 479px) {
  .button.is-navbar18-button.is-custom2 {
    align-self: flex-start;
  }
}

.button.is-navbar18-button.is-become-partner {
  margin-right: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

@media screen and (max-width: 991px) {
  .button.is-navbar18-button.is-become-partner {
    display: none;
    overflow: hidden;
  }
}

.button.is-navbar18-button.is-become-partner.banner {
  border-style: none;
  background-color: #111;
}

.button.is-navbar18-button.is-become-partner.banner:hover {
  background-color: hsla(208.00000000000003, 0.00%, 100.00%, 0.13);
}

@media screen and (max-width: 991px) {
  .button.is-navbar18-button.is-become-partner.banner {
    display: block;
  }
}

.button.is-navbar18-button.is-awards24 {
  margin-right: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  align-self: flex-start;
}

@media screen and (max-width: 991px) {
  .button.is-navbar18-button.is-awards24 {
    display: block;
    overflow: hidden;
  }
}

@media screen and (max-width: 479px) {
  .button.is-navbar18-button.is-awards24 {
    align-self: flex-start;
  }
}

.button.is-navbar18-button.is-awards24.is-custom {
  align-self: flex-start;
}

.button.is-navbar18-button.is-awards24.is-right {
  align-self: flex-end;
}

@media screen and (max-width: 479px) {
  .button.is-navbar18-button.is-awards24.is-right {
    align-self: flex-start;
  }
}

.button.is-navbar18-button.is-link {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  border-width: 0px;
}

.button.is-navbar18-button.is-link:hover {
  background-color: hsla(208.00000000000003, 0.00%, 0.00%, 0.00);
}

.is-link {
  text-decoration: underline;
}

.button.is-navbar18-button.ways25-form-button {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;

  display: flex;
  padding-top: 1.25rem;
  padding-right: 4rem;
  padding-bottom: 1.25rem;
  padding-left: 4rem;
  justify-content: center;
  align-items: center;

  background-color: white !important;

  backdrop-filter: blur(1.25rem);

  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: ease;

  font-family: Satoshi;
  color: var(--main-black);
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0px;
  text-transform: capitalize;
}

@media screen and (min-width: 1920px) {
  .button.is-navbar18-button.ways25-form-button {
    background-color: hsla(208.00000000000003, 0.00%, 100.00%, 0.24);
    backdrop-filter: blur(64px);
  }
}

.button.is-navbar18-button.ways25-form-button:hover {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  color: var(--accessible-components-white-smoke);
  background-color: black !important;
}

@media screen and (max-width: 767px) {
  .button.is-navbar18-button.ways25-form-button {
    padding: 1.25rem 2rem;
  }
}

@media screen and (max-width: 479px) {
  .button.is-navbar18-button.ways25-form-button {
    position: relative;
  }
}

.button.is-navbar18-button.ways25-form-button.is-absolute24 {
  position: absolute;
  left: 25rem;
  right: auto;
  bottom: 0.5rem;
}

@media screen and (max-width: 991px) {
  .button.is-navbar18-button.ways25-form-button.is-absolute24 {
    position: static;
  }
}

.button.is-navbar18-button.ways25-form-button.is--custom1 {
  position: relative;
  left: 1rem;
  bottom: 0rem;

  display: block;
  width: 100%;
  min-width: 21rem;

  text-transform: none;
}

.button.is-navbar18-button.ways25-form-button.is--custom1:hover {
  background-color: transparent;
}

@media screen and (max-width: 991px) {
  .button.is-navbar18-button.ways25-form-button.is--custom1 {
    bottom: 1.75rem;
    min-width: 15rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .button.is-navbar18-button.ways25-form-button.is--custom1 {
    position: static;
    min-width: auto;
  }
}

.button.is-navbar18-button.ways25-form-button.is--custom11 {
  position: relative;
  bottom: 0rem;

  width: auto;
  min-width: 16rem;

  background-color: white;

  backdrop-filter: blur(1.25rem);

  color: var(--main-black);
  font-size: 1.125rem;
  font-weight: 500;
}

.button.is-navbar18-button.ways25-form-button.is--custom11:hover {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  background-color: hsla(0, 0.00%, 66.67%, 1.00);
}

@media screen and (max-width: 991px) {
  .button.is-navbar18-button.ways25-form-button.is--custom11 {
    min-width: 15rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .button.is-navbar18-button.ways25-form-button.is--custom11 {
    position: static;
    min-width: auto;
  }
}

.button.is-navbar18-button.ways25-form-button {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;

  display: flex;
  padding-top: 1.25rem;
  padding-right: 4rem;
  padding-bottom: 1.25rem;
  padding-left: 4rem;
  justify-content: center;
  align-items: center;

  background-color: white !important;

  backdrop-filter: blur(1.25rem);

  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: ease;

  font-family: Satoshi;
  color: black;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0px;
  text-transform: capitalize;
}

@media screen and (min-width: 1920px) {
  .button.is-navbar18-button.ways25-form-button {
    background-color: hsla(208.00000000000003, 0.00%, 100.00%, 0.24);
    backdrop-filter: blur(64px);
  }
}

.button.is-navbar18-button.ways25-form-button:hover {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  color: whitesmoke;
  background-color: black !important;
}

@media screen and (max-width: 767px) {
  .button.is-navbar18-button.ways25-form-button {
    padding: 1.25rem 2rem;
  }
}

@media screen and (max-width: 479px) {
  .button.is-navbar18-button.ways25-form-button {
    position: relative;
  }
}

.button.is-navbar18-button.ways25-form-button-partners {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 2;

  display: flex;
  padding-top: 1.25rem;
  padding-right: 4rem;
  padding-bottom: 1.25rem;
  padding-left: 4rem;
  justify-content: center;
  align-items: center;

  background-color: white !important;

  backdrop-filter: blur(1.25rem);

  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: ease;

  font-family: Satoshi;
  color: var(--main-black);
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0px;
  text-transform: capitalize;
}

@media screen and (min-width: 1920px) {
  .button.is-navbar18-button.ways25-form-button-partners {
    background-color: hsla(208.00000000000003, 0.00%, 100.00%, 0.24);
    backdrop-filter: blur(64px);
  }
}

.button.is-navbar18-button.ways25-form-button-partners:hover {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  color: var(--accessible-components-white-smoke);
  background-color: black !important;
}

@media screen and (max-width: 767px) {
  .button.is-navbar18-button.ways25-form-button-partners {
    padding: 1.25rem 2rem;
  }
}

@media screen and (max-width: 479px) {
  .button.is-navbar18-button.ways25-form-button-partners {
    position: relative;
  }
}

.button.is-navbar18-button.ways25-form-button-partners.is-absolute24 {
  position: absolute;
  left: 25rem;
  right: auto;
  bottom: 0.5rem;
}

@media screen and (max-width: 991px) {
  .button.is-navbar18-button.ways25-form-button-partners.is-absolute24 {
    position: static;
  }
}

.button.is-navbar18-button.ways25-form-button-partners.is--custom1 {
  position: relative;
  left: 1rem;
  bottom: 0rem;

  display: block;
  width: 100%;
  min-width: 21rem;

  text-transform: none;
}

.button.is-navbar18-button.ways25-form-button-partners.is--custom1:hover {
  background-color: transparent;
}

@media screen and (max-width: 991px) {
  .button.is-navbar18-button.ways25-form-button-partners.is--custom1 {
    bottom: 1.75rem;
    min-width: 15rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .button.is-navbar18-button.ways25-form-button-partners.is--custom1 {
    position: static;
    min-width: auto;
  }
}

.button.is-navbar18-button.ways25-form-button-partners.is--custom11 {
  position: relative;
  bottom: 0rem;

  width: auto;
  min-width: 16rem;

  background-color: white;

  backdrop-filter: blur(1.25rem);

  color: var(--main-black);
  font-size: 1.125rem;
  font-weight: 500;
}

.button.is-navbar18-button.ways25-form-button-partners.is--custom11:hover {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  background-color: hsla(0, 0.00%, 66.67%, 1.00);
}

@media screen and (max-width: 991px) {
  .button.is-navbar18-button.ways25-form-button-partners.is--custom11 {
    min-width: 15rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .button.is-navbar18-button.ways25-form-button-partners.is--custom11 {
    position: static;
    min-width: auto;
  }
}

.main-button {
  display: flex;
  height: 3.5rem;
  padding: 0px 2rem;
  justify-content: center;
  align-items: center;
  align-self: center;

  border: 1px none black;
  border-radius: 200px;

  background-color: var(--main--white);

  transition: all 350ms ease-in-out;

  color: var(--main-black);
  font-weight: 600;
}

.main-button:hover {
  box-shadow: 0 4px 16px 0 hsla(0, 0.00%, 100.00%, 0.53);
  transform: scale(1.05);
}

@media screen and (max-width: 767px) {
  .main-button {
    align-self: stretch;
  }
}

.button.nextyear {
  position: relative;
  z-index: 1;

  padding: 0.5rem 1.5rem;

  border-style: solid;
  border-radius: 100dvw;

  font-family: Satoshi;
  font-weight: 500;
  word-break: normal;
}

.button.nextyear:hover {
  background-color: hsla(208.00000000000003, 0.00%, 24.67%, 1.00);
}

@media screen and (max-width: 767px) {
  .button.nextyear {
    padding: 0.25rem 1rem;
  }
}

.button.nextyear.is--second {
  background-color: rgba(230, 230, 230, 0.14);
  backdrop-filter: blur(5rem);
}

.button.nextyear.is--second:hover {
  background-color: hsla(208.00000000000003, 0.00%, 0.00%, 0.24);
}

@media screen and (max-width: 991px) {
  .button.nextyear.is--second {
    display: none;
  }
}

.button.nextyear.is--second.hidden-tablet:global(.w--current) {
  font-family: Satoshi;
}

@media screen and (max-width: 991px) {
  .button.nextyear.is--second.hidden-tablet {
    display: block;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}

.button.nextyear.is--second.hidden-tablet.is-mobile {
  background-color: hsla(0, 0.00%, 90.20%, 0.14);
}

.button.nextyear.is--second.hidden-tablet.is-mobile:hover {
  background-color: hsla(0, 0.00%, 90.20%, 0.08);
}

@media screen and (max-width: 991px) {
  .button.nextyear.is--second.hidden-tablet.is-mobile {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .button.nextyear.is--second.hidden-tablet.is-mobile:global(.w--current) {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .button.nextyear.is--second.hidden-tablet.is-mobile {
    padding: 0.6rem 1rem;
  }
}

.button.nextyear.is--second.hidden-tablet.is-mobile.is-scaled {
  padding-right: 1rem;
  padding-left: 1rem;
}

@media screen and (max-width: 991px) {
  .button.nextyear.is--second.hidden-tablet.is-mobile.is-scaled {
    display: block;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: flex-start;

    object-fit: fill;
  }
}

@media screen and (max-width: 479px) {
  .button.nextyear.is--second.hidden-tablet.is-mobile.is-scaled {
    transform: scale(0.7);
    transform-origin: 100% 50%;
    white-space: nowrap;
    overflow-wrap: normal;
  }
}

@media screen and (max-width: 479px) {
  .button.nextyear.is--second.hidden-tablet.is-mobile.is-scaled:global(.w--current) {
    transform: scale(0.7);
    white-space: nowrap;
  }
}

.button.nextyear.is--second.hidden-tablet.is-mobile.is-scaled.is-awards {
  font-size: 0.875rem;
}

@media screen and (min-width: 1440px) {
  .button.nextyear.is--second.hidden-tablet.is-mobile.is-scaled.is-awards {
    margin-left: 1rem;
    padding-left: 1rem;
  }
}

@media screen and (max-width: 991px) {
  .button.nextyear.is--second.hidden-tablet.is-mobile.is-scaled.is-awards {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 479px) {
  .button.nextyear.is--second.hidden-tablet.is-mobile.is-scaled.is-awards {
    display: none;
    justify-content: center;
    align-items: center;
  }
}

.button.nextyear.is--home24-hero {
  position: static;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 1.5rem;

  display: flex;
  padding: 1.25rem 4rem;
  justify-content: center;
  align-items: center;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;

  background-color: hsla(208.00000000000003, 0.00%, 100.00%, 0.24);

  backdrop-filter: blur(1.25rem);

  transition: all 200ms ease;

  font-family: Satoshi;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0px;
  text-transform: capitalize;
}

@media screen and (min-width: 1920px) {
  .button.nextyear.is--home24-hero {
    background-color: hsla(208.00000000000003, 0.00%, 100.00%, 0.24);
    backdrop-filter: blur(64px);
  }
}

.button.nextyear.is--home24-hero:hover {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  background-color: hsla(208.00000000000003, 0.00%, 0.00%, 0.24);
}

@media screen and (max-width: 767px) {
  .button.nextyear.is--home24-hero {
    padding: 1.25rem 2rem;
  }
}

.button.nextyear.is--home24-hero.is-absolute24 {
  position: absolute;
  left: 25rem;
  right: auto;
  bottom: 0.5rem;
}

@media screen and (max-width: 991px) {
  .button.nextyear.is--home24-hero.is-absolute24 {
    position: static;
  }
}

.button.nextyear.is--home24-hero.is--custom1 {
  position: relative;
  left: 1rem;
  bottom: 0rem;

  display: block;
  width: 100%;
  min-width: 21rem;

  text-transform: none;
}

.button.nextyear.is--home24-hero.is--custom1:hover {
  background-color: transparent;
}

@media screen and (max-width: 991px) {
  .button.nextyear.is--home24-hero.is--custom1 {
    bottom: 1.75rem;
    min-width: 15rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .button.nextyear.is--home24-hero.is--custom1 {
    position: static;
    min-width: auto;
  }
}

.button.nextyear.is--home24-hero.is--custom11 {
  position: relative;
  bottom: 0rem;

  width: auto;
  min-width: 16rem;

  backdrop-filter: blur(1.25rem);

  font-size: 1.125rem;
  font-weight: 500;
}

.button.nextyear.is--home24-hero.is--custom11:hover {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  background-color: transparent;
}

@media screen and (max-width: 991px) {
  .button.nextyear.is--home24-hero.is--custom11 {
    min-width: 15rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .button.nextyear.is--home24-hero.is--custom11 {
    position: static;
    min-width: auto;
  }
}

.button.nextyear.hidden-tablet {
  padding-right: 1rem;
  padding-left: 1rem;
  font-family: Satoshi;
  font-weight: 500;
}

@media screen and (max-width: 991px) {
  .button.nextyear.hidden-tablet {
    display: none;
  }
}

.button.nextyear.hidden-tablet.is-custom {
  background-color: hsla(208.00000000000003, 0.00%, 91.33%, 0.14);
}

.button.nextyear.is-cfs {
  flex: 1;
}

.button.nextyear.is-cfs:hover {
  background-color: hsla(208.00000000000003, 0.00%, 100.00%, 0.16);
}

.button.nextyear.is-custom {
  align-self: flex-start;
  background-color: hsla(208.00000000000003, 0.00%, 100.00%, 0.14);
  backdrop-filter: blur(1.25rem);
  transform: translate(0px, 0px);
}

.button.nextyear.is-custom:hover {
  background-color: hsla(208.00000000000003, 0.00%, 0.00%, 0.14);
}

@media screen and (max-width: 767px) {
  .button.nextyear.is-custom {
    display: inline-block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

@media screen and (max-width: 479px) {
  .button.nextyear.is-custom {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}

.button.nextyear.is-custom.is-venue2024 {
  align-self: flex-start;
}

.button.nextyear.is-custom.is--disabled {
  border-color: var(--main-ash);

  opacity: 0.77;
  backdrop-filter: blur(1.25rem);

  transform: none;
  transition: all 200ms ease-out;
}

@media screen and (max-width: 479px) {
  .button.nextyear.is-custom.is--disabled.is--display-hidden {
    justify-content: center;
    align-items: center;
    align-self: auto;
  }
}

.button.nextyear.is-custom2 {
  background-color: hsla(208.00000000000003, 0.00%, 60.00%, 0.12);
}

.button.nextyear.is-custom2:hover {
  background-color: hsla(208.00000000000003, 0.00%, 0.00%, 0.05);
}

@media screen and (max-width: 767px) {
  .button.nextyear.is-custom2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    align-self: stretch;
  }
}

@media screen and (max-width: 479px) {
  .button.nextyear.is-custom2 {
    align-self: flex-start;
  }
}

.button.nextyear.is-become-partner {
  margin-right: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

@media screen and (max-width: 991px) {
  .button.nextyear.is-become-partner {
    display: none;
    overflow: hidden;
  }
}

.button.nextyear.is-awards24 {
  margin-right: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  align-self: flex-start;
}

@media screen and (max-width: 991px) {
  .button.nextyear.is-awards24 {
    display: block;
    overflow: hidden;
  }
}

@media screen and (max-width: 479px) {
  .button.nextyear.is-awards24 {
    align-self: flex-start;
  }
}

.button.nextyear.is-awards24.is-custom {
  align-self: flex-start;
}

.button.nextyear.is-awards24.is-right {
  align-self: flex-end;
}

@media screen and (max-width: 479px) {
  .button.nextyear.is-awards24.is-right {
    align-self: flex-start;
  }
}

.button.nextyear.is-link {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  border-width: 0px;
}

.button.nextyear.is-link:hover {
  background-color: hsla(208.00000000000003, 0.00%, 0.00%, 0.00);
}

.navbar1_menu-button {
  padding: 0rem;
}

@media screen and (max-width: 991px) {
  .navbar1_menu-button:global(.w--open) {
    background-color: var(--\<unknown\|relume-variable-transparent\>);
  }
}

@media screen and (max-width: 991px) {
  .menu-icon1 {
    display: flex;
    width: 48px;
    height: 48px;
    padding-right: 0rem;
    padding-bottom: 0rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1px solid white;
    border-radius: 100vw;

    background-color: hsla(0, 0.00%, 100.00%, 0.16);
  }
}

@media screen and (max-width: 991px) {
  .menu-icon1_line-top {
    width: 24px;
    height: 2px;
    padding-right: 0px;
    padding-bottom: 0px;
    background-color: var(--accessible-components-white-smoke);
  }
}

@media screen and (max-width: 991px) {
  .menu-icon1_line-middle {
    display: flex;
    width: 24px;
    height: 2px;
    margin-top: 6px;
    margin-bottom: 6px;
    padding-right: 0px;
    padding-bottom: 0px;
    justify-content: center;
    align-items: center;

    background-color: var(--accessible-components-white-smoke);
  }
}

@media screen and (max-width: 991px) {
  .menu-icon1_line-middle-inner {
    width: 4px;
    height: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 991px) {
  .menu-icon1_line-bottom {
    width: 24px;
    height: 2px;
    padding-right: 0px;
    padding-bottom: 0px;
    background-color: var(--accessible-components-white-smoke);
  }
}

@media screen and (max-width: 991px) {
  .hide-tablet {
    display: none;
  }
}

#w-node-_0484954e-c4b5-c65a-40d8-7c2c7b2a7179-7b2a7174 {
}
#w-node-_0484954e-c4b5-c65a-40d8-7c2c7b2a7187-7b2a7174 {
}
