.section-speakers-hero {
  position: relative;

  padding: 10rem 3rem;

  background-image: url("https://cdn.prod.website-files.com/6846a22a95d3c778d528ce77/6846a22a95d3c778d528d0c2_background.webp");
  background-position: 0% 100%;
  background-size: auto;
  background-repeat: no-repeat;
}

@media screen and (min-width: 1920px) {
  .section-speakers-hero {
    position: relative;
  }
}

@media screen and (max-width: 991px) {
  .section-speakers-hero {
    padding-bottom: 0rem;
  }
}

@media screen and (max-width: 767px) {
  .section-speakers-hero {
    padding-top: 8rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

@media screen and (max-width: 479px) {
  .section-speakers-hero {
    padding-top: 4rem;
  }
}

@media screen and (max-width: 991px) {
  .section-speakers-hero.is--agenda-new {
    padding-top: 12rem;
    padding-bottom: 4rem;
  }
}

.section-speakers-hero.is--agenda-new.s-in {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.section-speakers-hero.is--awards-gala {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;

  background-image: url("https://cdn.prod.website-files.com/6846a22a95d3c778d528ce77/6846a22a95d3c778d528d085_awardsgala--bg.webp");
  background-position: 0% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 479px) {
  .section-speakers-hero.is--awards-gala {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.section-speakers-hero.is--awards-gala.is--gamification {
  background-size: 460% 100%;
}

@media screen and (max-width: 991px) {
  .section-speakers-hero.is--awards-gala.is--gamification {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
  }
}

@media screen and (max-width: 991px) {
  .section-speakers-hero.is--awards-gala.s-in {
    padding-bottom: 0rem;
  }
}

.section-hero-wrapper {
  width: 100%;
  padding: 0rem 2.5rem 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

@media screen and (max-width: 991px) {
  .section-hero-wrapper {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .section-hero-wrapper {
    display: flex;
    padding-right: 1rem;
    padding-left: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 479px) {
  .section-hero-wrapper {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.section-hero-wrapper.navbar-container {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 1920px) {
  .section-hero-wrapper.navbar-container {
    max-width: 95%;
  }
}

@media screen and (max-width: 991px) {
  .section-hero-wrapper.navbar-container {
    max-width: 100%;
    justify-content: flex-end;
    grid-column-gap: 4rem;
    grid-row-gap: 2rem;
  }
}

@media screen and (max-width: 767px) {
  .section-hero-wrapper.navbar-container {
    align-items: center;
    grid-column-gap: 2rem;
  }
}

@media screen and (max-width: 479px) {
  .section-hero-wrapper.navbar-container {
    padding-right: 1rem;
    padding-left: 1rem;
    grid-column-gap: 1rem;
  }
}

.section-hero-wrapper.is--full-width {
  max-width: 100%;
}

.section-hero-wrapper.is--register {
  position: relative;
  max-width: 100%;
}

@media screen and (max-width: 479px) {
  .section-hero-wrapper.is--register {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.section-hero-wrapper.is--sizing-grow {
  flex: 1;
}

.section-hero-wrapper.is--sizing-grow.is--custom {
  padding-top: 1rem;
}

.is--custom {
  position: relative;
  z-index: 10;
}

.section-hero-wrapper.is--800 {
  max-width: 50rem;
  grid-row-gap: 3rem;
}

@media screen and (max-width: 991px) {
  .section-hero-wrapper.is--800 {
    max-width: 100%;
  }
}

.section-hero-wrapper.is--800.blog {
  margin-right: auto;
  margin-left: auto;
}

.section-hero-wrapper.is--aboutus {
  justify-content: center;
  align-self: stretch;
}

@media screen and (min-width: 1920px) {
  .section-hero-wrapper.is--aboutus {
    max-width: 90rem;
  }
}

.section-hero-wrapper.is--blocker-smaller {
  display: flex;
  padding-top: 5rem;
  padding-bottom: 5rem;
  align-items: center;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;

  text-align: center;
}

.section-hero-wrapper.is--sponsors-hero {
  align-self: stretch;
}

.section-hero-wrapper.is--sponsors-hero-video {
  display: flex;
  padding-right: 40%;
  flex-direction: row;
  justify-content: flex-start;
}

@media screen and (max-width: 991px) {
  .section-hero-wrapper.is--sponsors-hero-video {
    padding-top: 2rem;
    padding-right: 25%;
    padding-bottom: 2rem;
  }
}

@media screen and (max-width: 767px) {
  .section-hero-wrapper.is--sponsors-hero-video {
    padding-right: 40%;
    padding-left: 1.5rem;
    flex-direction: column;
    align-items: flex-start;
    grid-row-gap: 1rem;

    text-align: left;
  }
}

@media screen and (max-width: 479px) {
  .section-hero-wrapper.is--sponsors-hero-video {
    padding-right: 1.5rem;
  }
}

.section-hero-wrapper.is--agenda-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  grid-row-gap: 1.5rem;
}

@media screen and (min-width: 1920px) {
  .section-hero-wrapper.is--agenda-content {
    position: relative;
  }
}

.section-hero-wrapper.is--success {
  display: flex;
}

.section-hero-wrapper.is--partners {
  display: block;
  margin-top: 4rem;
  padding-right: 3.5rem;
  padding-left: 3.5rem;
}

@media screen and (max-width: 479px) {
  .section-hero-wrapper.is--partners {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.section-hero-wrapper.is--404 {
  display: flex;
}

.is--relative {
  position: relative;
}

.is--z-index-1 {
  position: relative;
  z-index: 1;
}

@media screen and (min-width: 1920px) {
  .is--z-index-1 {
    text-decoration: none;
  }
}

.section-hero-wrapper.avards-container {
  display: flex;
  flex-direction: column;
  grid-row-gap: 1rem;
}

.section-hero-wrapper.is--infopack-container {
  display: grid;
  max-width: 100%;
  padding-right: 0rem;
  padding-left: 0rem;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

@media screen and (max-width: 991px) {
  .section-hero-wrapper.is--infopack-container {
    display: grid;
    padding-top: 0rem;
    padding-bottom: 0rem;
    grid-auto-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }
}

@media screen and (max-width: 767px) {
  .section-hero-wrapper.is--infopack-container {
    display: flex;
    padding: 0rem;
    align-items: stretch;
  }
}

.section-hero-wrapper.is-custom {
  padding-top: 0rem;
}

.section-hero-wrapper.is-filters {
  position: sticky;
  z-index: 10;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.section-hero-wrapper.is-home {
  display: flex;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

@media screen and (max-width: 479px) {
  .section-hero-wrapper.is-home.s-in {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }
}

.section-hero-wrapper.is-workshops2024 {
  padding-top: 8rem;
}

.section-hero-wrapper.is-awards-projects {
  padding-right: 4rem;
  padding-bottom: 10rem;
  padding-left: 4rem;
}

@media screen and (max-width: 991px) {
  .section-hero-wrapper.is-awards-projects {
    padding-right: 2rem;
    padding-bottom: 5rem;
    padding-left: 2rem;
  }
}

.section-hero-wrapper.awards-jury {
  padding-right: 4rem;
  padding-left: 4rem;
}

@media screen and (max-width: 991px) {
  .section-hero-wrapper.awards-jury {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

@media screen and (max-width: 767px) {
  .section-hero-wrapper.awards-jury {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}

.speakers-hero-grid {
  align-items: center;
  grid-column-gap: 8rem;
  grid-row-gap: 8rem;
  grid-template-rows: auto;
}

@media screen and (max-width: 991px) {
  .speakers-hero-grid {
    grid-template-columns: 1fr;
  }
}

.speakers-hero-grid.is--new-agenda {
  position: relative;
  z-index: 24;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.speakers-hero-grid_content {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
}

@media screen and (max-width: 767px) {
  .speakers-hero-grid_content {
    width: 100%;
  }
}

.speakers-hero-grid_content.is--agenda-new {
  padding-right: 20%;
  padding-left: 20%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .speakers-hero-grid_content.is--agenda-new {
    padding-right: 0%;
    padding-left: 0%;
  }
}

.is--paragraph-big {
  font-size: 1.125rem;
  line-height: 1.6;
  font-weight: 400;
  letter-spacing: 0.01em;
}

@media screen and (min-width: 1920px) {
  .is--paragraph-big {
    text-decoration: none;
  }
}

@media screen and (max-width: 991px) {
  .is--paragraph-big {
    font-size: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .is--paragraph-big {
    font-size: 1rem;
  }
}

.is--paragraph-big.is--text-color-silver {
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: flex-start;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;

  font-family: Manrope;
  color: hsla(0, 0.00%, 90.20%, 0.80);
}

@media screen and (min-width: 1920px) {
  .is--paragraph-big.is--text-color-silver {
    text-decoration: none;
  }
}

.is--text-color-silver {
  grid-row-gap: 1rem;
  color: var(--main--silver);
}

@media screen and (min-width: 1920px) {
  .is--text-color-silver {
    text-decoration: none;
  }
}

.is--paragraph-big.is--text-color-silver.is--text-no-wrap {
  white-space: nowrap;
}

.is--text-bold {
  font-weight: 700;
}

.is--paragraph-big.is--text-color-silver.is--link {
  text-decoration: underline;
}

.is--paragraph-big.is--text-color-silver.is--workshop {
  max-width: 75%;
  margin-top: 1.5rem;
}

@media screen and (max-width: 991px) {
  .is--paragraph-big.is--text-color-silver.is--workshop {
    max-width: 100%;
  }
}

.padding-vertical {
  position: static;
  width: 100%;
}

.is--paragraph-big.is--text-color-silver.padding-24 {
  margin-bottom: 1.5rem;
  padding-top: 0rem;
}

.padding-24 {
  margin-top: 1.5rem;
}

.is--paragraph-big.is--text-color-silver.is--details {
  margin-top: 2rem;
}

@media screen and (min-width: 1920px) {
  .is--paragraph-big.is--text-color-silver.is--details {
    margin-top: 14rem;
  }
}

@media screen and (max-width: 991px) {
  .is--paragraph-big.is--text-color-silver.is--details {
    margin-top: 0rem;
  }
}

.is--paragraph-big.is--text-color-silver.is-for-who {
  width: 60%;
  text-align: center;
}

@media screen and (min-width: 1920px) {
  .is--paragraph-big.is--text-color-silver.is-for-who {
    width: 60%;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .is--paragraph-big.is--text-color-silver.is-for-who {
    width: 100%;
  }
}

.is--paragraph-big.is--text-color-silver.is-jury {
  width: 75%;
}

.is--paragraph-big.is--text-color-silver.is-awards {
  text-align: center;
}

.is--centered {
  margin-right: auto;
  margin-left: auto;
}

.is--paragraph-big.is--text-color-silver.is-custom {
  margin-top: 1rem;
}

.is--paragraph-big.is--text-color-silver.margin-left-4 {
  margin-left: 0.25rem;
}

.is--paragraph-big.is--text-color-silver.is-beeforeways {
  max-width: 80%;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .is--paragraph-big.is--text-color-silver.is-beeforeways {
    max-width: 100%;
    text-align: left;
  }
}

.is--paragraph-big.is--text-color-silver.is-short {
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-self: flex-start;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;

  line-height: 1.25;
}

.is--display-hidden {
  display: none;
}

.is--text-center {
  text-align: center;
}

.is--text-uppercase {
  text-transform: uppercase;
}

.is--paragraph-big.is--text-uppercase.is--text-no-wrap {
  white-space: nowrap;
}

.is--paragraph-big.is--hidden {
  display: none;
}

.is--paragraph-big.on-hover_underline {
  border-bottom: 1px solid hsla(0, 0.00%, 0.00%, 1.00);
}

.is--paragraph-big.on-hover_underline:hover {
  border-style: none none solid;
  border-width: 1px;
  border-color: black black hsla(0, 0.00%, 100.00%, 1.00);
}

.is--paragraph-big.on-hover_underline.margin-right-4 {
  margin-right: 0.25rem;
}

.is--paragraph-big.on-hover_underline.is-gray {
  color: hsla(0, 0.00%, 60.78%, 1.00);
}

.is--paragraph-big.is--agenda-new_hero {
  width: 47ch;
}

@media screen and (max-width: 767px) {
  .is--paragraph-big.is--agenda-new_hero {
    width: 100%;
  }
}

.is--paragraph-big.is--agenda-new_hero.iss--agenda {
  width: auto;
}

.is--paragraph-big.margin-right-4 {
  padding-right: 0.25rem;
}

.is--paragraph-big.is--hotels-hero {
  max-width: 66ch;
  color: var(--main--silver);
}

.width-50 {
  width: 50%;
}

@media screen and (max-width: 991px) {
  .width-50 {
    width: 80%;
  }
}

@media screen and (max-width: 767px) {
  .width-50 {
    width: 90%;
  }
}

.is--paragraph-big.is-custom_cfs-hero {
  max-width: 50%;
  opacity: 0.5;
}

@media screen and (max-width: 991px) {
  .is--paragraph-big.is-custom_cfs-hero {
    max-width: 100%;
  }
}

.is--paragraph-big.opacity-60 {
  opacity: 0.6;
}

.opacity-60 {
  opacity: 0.6;
}

.cfs-hero-image {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;

  width: 45%;
  height: 100%;
  padding-top: 0rem;
  padding-bottom: 0rem;

  object-fit: cover;
  object-position: 50% 100%;
}

@media screen and (max-width: 991px) {
  .cfs-hero-image {
    position: relative;

    width: 100%;
    height: 23rem;
    padding-top: 0rem;
    padding-bottom: 0rem;

    object-position: 50% 100%;
  }
}

.cfs-hero-image.is--speakers {
  padding-top: 0rem;
  object-position: 50% 50%;
}

@media screen and (max-width: 991px) {
  .cfs-hero-image.is--speakers {
    margin-top: 2rem;
    padding-top: 0rem;
  }
}

.cfs-hero-image.is--speakers.is--agenda {
  padding-top: 6.3rem;
}

.cfs-hero-image.is--speakers.is--attendes {
  padding-top: 0rem;
}

@media screen and (max-width: 991px) {
  .cfs-hero-image.is--speakers.is--attendes {
    margin-top: 4.5rem;
  }
}

.divider {
  width: 100%;
  height: 1px;
}

@media screen and (max-width: 991px) {
  .divider {
    position: static;
  }
}

@media screen and (max-width: 991px) {
  .divider.is--bg-gradient-white {
    height: 2px;
  }
}

.is--bg-gradient-white {
  background-image: linear-gradient(270deg, hsla(0, 0.00%, 100.00%, 0.00), hsla(0, 0.00%, 100.00%, 0.30));
}

.divider.is--bg-gradient-white.is--navigating-grid {
  position: absolute;
  left: 0%;
  top: 0.75rem;
  right: 0%;
  bottom: auto;

  background-image: linear-gradient(270deg, hsla(0, 0.00%, 100.00%, 0.00), rgba(255, 255, 255, 0.12) 17%, hsla(0, 0.00%, 100.00%, 0.30));
}

@media screen and (max-width: 991px) {
  .divider.is--bg-gradient-white.is--navigating-grid {
    width: 1px;
    height: 100%;
    margin-left: 0.7rem;
    background-image: linear-gradient(to top, hsla(0, 0.00%, 100.00%, 0.00), rgba(255, 255, 255, 0.12) 17%, hsla(0, 0.00%, 100.00%, 0.30));
  }
}

.divider.is--bg-gradient-white.is--navigating-grid.is-mobile {
  display: none;
}

@media screen and (max-width: 991px) {
  .divider.is--bg-gradient-white.is--navigating-grid.is-mobile {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .divider.is--bg-gradient-white.is--navigating-grid.is-mobile {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .is--display-hidden-tablet {
    display: none;
  }
}

.divider.is--bg-gradient-white.is--contact-bg {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
}

.divider.is--bg-gradient-white.is--make-form {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.divider.is--bg-gradient-white.is--agenda {
  position: absolute;
  left: 0%;
  top: 7.5rem;
  right: 0%;
  bottom: auto;

  background-color: transparent;
}

@media screen and (min-width: 1920px) {
  .divider.is--bg-gradient-white.is--agenda {
    left: 0%;
    top: 7rem;
    right: 0%;
    bottom: auto;
  }
}

@media screen and (max-width: 991px) {
  .divider.is--bg-gradient-white.is--startupvalley_schedule {
    display: none;
  }
}

.divider.is--bg-gradient-white_right {
  background-image: linear-gradient(to right, hsla(0, 0.00%, 100.00%, 0.00), hsla(0, 0.00%, 100.00%, 0.30));
}

.divider.is--bg-gradient-white_right.is--trusted {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
}

.divider.is--bg-gradient-white_right.is--trusted-low {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
}

.divider.is--bg-gradient-white_right.is--15 {
  background-image: linear-gradient(to right, hsla(0, 0.00%, 100.00%, 0.00) 15%, hsla(0, 0.00%, 100.00%, 0.24));
}

@media screen and (max-width: 479px) {
  .divider.is--bg-gradient-white_right.is--15.s-in {
    display: none;
  }
}

.divider.is--bg-gradient-white_right.is--feedback {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
}

.divider.is--bg-gradient-white_right.is--speaker {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.divider.is--bg-gradient-white_right.is--home-partners-grid {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

@media screen and (max-width: 991px) {
  .divider.is--bg-gradient-white_right.is--home-partners-grid {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}

.divider.is--bg-gradient-white_right.is--awards-schedule {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;

  width: 1px;
  height: 100%;

  background-image: linear-gradient(to bottom, hsla(0, 0.00%, 100.00%, 0.00), hsla(0, 0.00%, 100.00%, 0.30));
}

.divider.is--bg-gradient-white_right.is--awards-schedule.is--right {
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.divider.is--bg-color-white {
  background-color: hsla(0, 0.00%, 100.00%, 0.30);
}

.is--bg-color-white {
  background-color: var(--main--white);
}

.divider.is--bg-color-white.is--trusted-vertical {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;

  width: 1px;
  height: 100%;
}

.divider.is--navigating-grid {
  background-image: url("https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg");
  background-position: 0px 0px;
  background-size: auto;
}

.divider.is--bg-gradient-center {
  background-image: linear-gradient(to right, hsla(0, 0.00%, 100.00%, 0.00), hsla(0, 0.00%, 100.00%, 0.30) 50%, hsla(0, 0.00%, 100.00%, 0.00));
}

.divider.is--bg-gradient-center.is--members {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
}

.divider.is--bg-gradient-center.is--members-bottom {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
}

.divider.is--bg-gradient-center.is--aftermoview {
  position: relative;
}

.divider.is--bg-gradient-center.is--register-top {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
}

.divider.is--bg-gradient-center.is--register-bottom {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
}

.divider.is--bg-gradient-center.is--margin-aboutus {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

@media screen and (max-width: 991px) {
  .divider.is--bg-gradient-center.is--margin-aboutus {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}

@media screen and (max-width: 991px) {
  .divider.is--bg-gradient-center.margin-y-120 {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}

@media screen and (max-width: 767px) {
  .is--display-hidden-landscape {
    display: none;
  }
}

.divider.is--bg-gradient-center.is--vertical {
  align-self: stretch;
  flex: 0 0 auto;
  background-image: linear-gradient(to bottom, hsla(0, 0.00%, 100.00%, 0.00), hsla(0, 0.00%, 100.00%, 0.16) 50%, hsla(0, 0.00%, 100.00%, 0.00));
}

.divider.is--bg-gradient-center.is--make-form {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.divider.is--bg-gradient-center.is--speakers {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
}

.divider.is--bg-gradient-center.is--speakers.is--bottom {
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
}

.divider.is--bg-gradient-center.is--cfs {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
}

.divider.is--bg-gradient-center.is--sponsors-top {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
}

.divider.is--bg-gradient-center.is--sponsors-bottom {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
}

.divider.is--bg-gradient-center.is--agenda-header {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
}

.divider.is--bg-gradient-center.is--agenda-hero {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
}

.divider.is--bg-gradient-center.is--workshops {
  margin-top: 4rem;
}

.divider.is--bg-gradient-center.is--attendes {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
}

.divider.is--bg-gradient-center.is--awards-hero {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
}

.divider.is--bg-gradient-center.is--beforeways {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
}

.divider.is--bg-gradient-center.is--free {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
}

.divider.is--bg-gradient-center.is--free.is--top {
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
}

.divider.is--aftermoview {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;

  width: 99.9%;
  margin-right: auto;
  margin-left: auto;

  background-image: linear-gradient(to bottom, hsla(0, 0.00%, 100.00%, 0.30),hsla(0, 0.00%, 100.00%, 0.30));
}

.divider.is--aftermoview.is--vertical {
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;

  width: 1px;
  height: 100%;

  background-image: linear-gradient(to bottom, hsla(0, 0.00%, 100.00%, 0.00), hsla(0, 0.00%, 100.00%, 0.30));
}

.divider.is--aftermoview.is--vertical.is--right {
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.divider.is--navbar {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;

  border-bottom: 1px solid hsla(0, 0.00%, 100.00%, 0.30);
}

.divider.is--vertical {
  width: 1px;
  height: 100%;
  background-image: url("https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg");
  background-position: 0px 0px;
  background-size: auto;
}

.divider.is--vertical.is--speaker {
  background-color: hsla(0, 0.00%, 100.00%, 1.00);
  background-image: none;
}

.divider.is--vertical.is--bg-color-ash {
  background-image: none;
}

.is--bg-color-ash {
  background-color: var(--main-ash);
}

.divider.is--grid {
  position: absolute;
  left: 50%;
  right: 50%;

  width: 1px;
  height: 100%;
  margin-top: 11rem;
  margin-right: auto;
  margin-left: auto;
}

.divider.is--grid.is--bg-gradient-white.is--inverted {
  height: 90%;
  background-image: linear-gradient(to top, hsla(0, 0.00%, 100.00%, 0.14), hsla(0, 0.00%, 100.00%, 0.22) 50%, hsla(0, 0.00%, 100.00%, 0.00));
  transform: rotate(180deg);
}

@media screen and (max-width: 991px) {
  .divider.is--grid.is--bg-gradient-white.is--inverted {
    left: 1.9rem;
    top: -0.5rem;
    right: auto;
    bottom: 0%;
    height: 96%;
  }
}

@media screen and (max-width: 767px) {
  .divider.is--grid.is--bg-gradient-white.is--inverted {
    left: 1rem;
    margin-top: 10.25rem;
  }
}

@media screen and (max-width: 479px) {
  .divider.is--grid.is--bg-gradient-white.is--inverted {
    margin-top: 12.65rem;
  }
}

.divider.margin-y-120 {
  margin-top: 7.5rem;
  margin-bottom: 7.5rem;
}

.divider.is--bg-color-ash.is--tickets-faq {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
}

.divider.is--20 {
  width: 1.25rem;
}

.is--bg-color-silver {
  background-color: var(--main--silver);
}

.divider.is--speaker-timeline {
  width: 1px;
  height: 100%;
  background-image: linear-gradient(to bottom, var(--main-ash), var(--main-black));
}

.is--text-gradient-white {
  background-image: linear-gradient(270deg, hsla(0, 0.00%, 100.00%, 0.00), hsla(0, 0.00%, 100.00%, 0.30));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.divider.is--agenda {
  border-style: solid;
  border-width: 0px;
  border-color: hsla(0, 0.00%, 100.00%, 1.00);
  background-color: var(--main-ash);
}

.divider.is--agenda-new-heading {
  width: 2rem;
  background-color: hsla(0, 0.00%, 100.00%, 1.00);
  opacity: 0.32;
}

@media screen and (max-width: 479px) {
  .divider.is--agenda-new-heading.is-workshop {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .divider.is--menu {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

@media screen and (max-width: 767px) {
  .divider.menu {
    height: 1px;
    border-style: solid;
    border-width: 1px;
    border-color: hsla(0, 0.00%, 26.67%, 1.00);
    background-color: hsla(0, 0.00%, 100.00%, 1.00);
  }
}

.divider.menu.is-new {
  display: none;
}

@media screen and (max-width: 767px) {
  .divider.menu.is-new {
    display: block;
  }
}

.divider.is-grey {
  display: block;
  background-color: var(--grey);
}

.divider.is-ash {
  background-color: var(--main-ash);
}

.divider.awardsvote {
  background-color: var(--greynew);
}

#w-node-d5fafe81-5764-9054-41a7-a1b4a511c74f-a511c74c {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}