.section_home24-blocker {
  position: relative;

  display: flex;
  padding-top: 15rem;
  padding-bottom: 15rem;
  justify-content: center;

  background-image: url("https://cdn.prod.website-files.com/6846a22a95d3c778d528ce77/6846a22a95d3c778d528d4e2_Vector.svg");
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

.section_home24-blocker:where(.w-variant-001a15e8-3d8d-55be-4cfc-f7d668e39e74) {
  background-color: black;
}

@media screen and (max-width: 991px) {
  .section_home24-blocker {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
}

@media screen and (max-width: 767px) {
  .section_home24-blocker {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

.section_home24-blocker.is--awards24 {
  border-top: 1px solid var(--main-ash);
  border-bottom: 1px solid var(--main-ash);
}

@media screen and (min-width: 1440px) {
  .section_home24-blocker.is--awards24 {
    padding-bottom: 2rem;
  }
}

.section-hero-wrapper {
  width: 100%;
  padding: 0rem 2.5rem 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

@media screen and (max-width: 991px) {
  .section-hero-wrapper {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .section-hero-wrapper {
    display: flex;
    padding-right: 1rem;
    padding-left: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 479px) {
  .section-hero-wrapper {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.section-hero-wrapper.navbar-container {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 1920px) {
  .section-hero-wrapper.navbar-container {
    max-width: 95%;
  }
}

@media screen and (max-width: 991px) {
  .section-hero-wrapper.navbar-container {
    max-width: 100%;
    justify-content: flex-end;
    grid-column-gap: 4rem;
    grid-row-gap: 2rem;
  }
}

@media screen and (max-width: 767px) {
  .section-hero-wrapper.navbar-container {
    align-items: center;
    grid-column-gap: 2rem;
  }
}

@media screen and (max-width: 479px) {
  .section-hero-wrapper.navbar-container {
    padding-right: 1rem;
    padding-left: 1rem;
    grid-column-gap: 1rem;
  }
}

.section-hero-wrapper.is--full-width {
  max-width: 100%;
}

.section-hero-wrapper.is--register {
  position: relative;
  max-width: 100%;
}

@media screen and (max-width: 479px) {
  .section-hero-wrapper.is--register {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.section-hero-wrapper.is--sizing-grow {
  flex: 1;
}

.section-hero-wrapper.is--sizing-grow.is--custom {
  padding-top: 1rem;
}

.is--custom {
  position: relative;
  z-index: 10;
}

.section-hero-wrapper.is--800 {
  max-width: 50rem;
  grid-row-gap: 3rem;
}

@media screen and (max-width: 991px) {
  .section-hero-wrapper.is--800 {
    max-width: 100%;
  }
}

.section-hero-wrapper.is--800.blog {
  margin-right: auto;
  margin-left: auto;
}

.section-hero-wrapper.is--aboutus {
  justify-content: center;
  align-self: stretch;
}

@media screen and (min-width: 1920px) {
  .section-hero-wrapper.is--aboutus {
    max-width: 90rem;
  }
}

.section-hero-wrapper.is--blocker-smaller {
  display: flex;
  padding-top: 5rem;
  padding-bottom: 5rem;
  align-items: center;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;

  text-align: center;
}

.section-hero-wrapper.is--sponsors-hero {
  align-self: stretch;
}

.section-hero-wrapper.is--sponsors-hero-video {
  display: flex;
  padding-right: 40%;
  flex-direction: row;
  justify-content: flex-start;
}

@media screen and (max-width: 991px) {
  .section-hero-wrapper.is--sponsors-hero-video {
    padding-top: 2rem;
    padding-right: 25%;
    padding-bottom: 2rem;
  }
}

@media screen and (max-width: 767px) {
  .section-hero-wrapper.is--sponsors-hero-video {
    padding-right: 40%;
    padding-left: 1.5rem;
    flex-direction: column;
    align-items: flex-start;
    grid-row-gap: 1rem;

    text-align: left;
  }
}

@media screen and (max-width: 479px) {
  .section-hero-wrapper.is--sponsors-hero-video {
    padding-right: 1.5rem;
  }
}

.section-hero-wrapper.is--agenda-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  grid-row-gap: 1.5rem;
}

@media screen and (min-width: 1920px) {
  .section-hero-wrapper.is--agenda-content {
    position: relative;
  }
}

.section-hero-wrapper.is--success {
  display: flex;
}

.section-hero-wrapper.is--partners {
  display: block;
  margin-top: 4rem;
  padding-right: 3.5rem;
  padding-left: 3.5rem;
}

@media screen and (max-width: 479px) {
  .section-hero-wrapper.is--partners {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.section-hero-wrapper.is--404 {
  display: flex;
}

.is--relative {
  position: relative;
}

.is--z-index-1 {
  position: relative;
  z-index: 1;
}

@media screen and (min-width: 1920px) {
  .is--z-index-1 {
    text-decoration: none;
  }
}

.section-hero-wrapper.avards-container {
  display: flex;
  flex-direction: column;
  grid-row-gap: 1rem;
}

.section-hero-wrapper.is--infopack-container {
  display: grid;
  max-width: 100%;
  padding-right: 0rem;
  padding-left: 0rem;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

@media screen and (max-width: 991px) {
  .section-hero-wrapper.is--infopack-container {
    display: grid;
    padding-top: 0rem;
    padding-bottom: 0rem;
    grid-auto-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }
}

@media screen and (max-width: 767px) {
  .section-hero-wrapper.is--infopack-container {
    display: flex;
    padding: 0rem;
    align-items: stretch;
  }
}

.section-hero-wrapper.is-custom {
  padding-top: 0rem;
}

.section-hero-wrapper.is-filters {
  position: sticky;
  z-index: 10;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.section-hero-wrapper.is-home {
  display: flex;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

@media screen and (max-width: 479px) {
  .section-hero-wrapper.is-home.s-in {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }
}

.section-hero-wrapper.is-workshops2024 {
  padding-top: 8rem;
}

.section-hero-wrapper.is-awards-projects {
  padding-right: 4rem;
  padding-bottom: 10rem;
  padding-left: 4rem;
}

@media screen and (max-width: 991px) {
  .section-hero-wrapper.is-awards-projects {
    padding-right: 2rem;
    padding-bottom: 5rem;
    padding-left: 2rem;
  }
}

.section-hero-wrapper.awards-jury {
  padding-right: 4rem;
  padding-left: 4rem;
}

@media screen and (max-width: 991px) {
  .section-hero-wrapper.awards-jury {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

@media screen and (max-width: 767px) {
  .section-hero-wrapper.awards-jury {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}

.home24-blocker-content {
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;

  text-align: center;
}

@media screen and (max-width: 767px) {
  .home24-blocker-content {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }
}

.home24-blocker-content.s-in {
  width: 70rem;
  margin-right: auto;
  margin-left: auto;
  max-width: calc(100% - 4rem);
}

@media screen and (max-width: 991px) {
  .home24-blocker-content.s-in {
    max-width: calc(100vw - 4rem);
  }
}

@media screen and (max-width: 479px) {
  .home24-blocker-content.s-in {
    max-width: calc(100vw - 2rem);
  }
}

.home24-blocker-heading.partner:where(.w-variant-001a15e8-3d8d-55be-4cfc-f7d668e39e74) {
  display: none;
}

.home24-blocker-heading.speaner {
  display: none;
}

.home24-blocker-heading.speaner:where(.w-variant-001a15e8-3d8d-55be-4cfc-f7d668e39e74) {
  display: block;
}

.blocker-form:where(.w-variant-001a15e8-3d8d-55be-4cfc-f7d668e39e74) {
  display: none;
}

.cta-group {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  flex: 0 auto;
  grid-column-gap: 0.75rem;
  grid-row-gap: 0.75rem;
}

.cta-group:where(.w-variant-001a15e8-3d8d-55be-4cfc-f7d668e39e74) {
  display: flex;
}

@media screen and (max-width: 991px) {
  .cta-group {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .cta-group {
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: stretch;
  }
}

.hide {
  display: none;
}

.hide:where(.w-variant-001a15e8-3d8d-55be-4cfc-f7d668e39e74) {
  display: none;
}

.cta-group.blocker-cta {
  display: none;
}

.cta-group.blocker-cta:where(.w-variant-001a15e8-3d8d-55be-4cfc-f7d668e39e74) {
  display: flex;
}

.main-button {
  display: flex;
  height: 3.5rem;
  padding: 0px 2rem;
  justify-content: center;
  align-items: center;
  align-self: center;

  border: 1px none black;
  border-radius: 200px;

  background-color: var(--main--white);

  transition: all 350ms ease-in-out;

  color: var(--main-black);
  font-weight: 600;
}

.main-button:hover {
  box-shadow: 0 4px 16px 0 hsla(0, 0.00%, 100.00%, 0.53);
  transform: scale(1.05);
}

@media screen and (max-width: 767px) {
  .main-button {
    align-self: stretch;
  }
}

.main-button.is--contact-form {
  align-self: flex-start;

  border-style: solid;
  border-color: hsla(0, 0.00%, 100.00%, 1.00);
  border-radius: 100rem;

  backdrop-filter: blur(10px);
  pointer-events: auto;
}

@media screen and (max-width: 767px) {
  .main-button.is--contact-form {
    align-self: stretch;
  }
}

.main-button.is--contact-form.is-width-full {
  width: 100%;
  height: 5rem;
}

.main-button.is--contact-form.is-jury {
  align-self: stretch;
  opacity: 0.76;
  pointer-events: auto;
}

.main-button.is--contact-form.is-project {
  align-self: center;
}

.main-button.is--contact-form.is-student {
  width: 100%;
}

.main-button.is-vote {
  width: 100%;
  flex: 0 0 auto;
}

.main-button.blocker:where(.w-variant-001a15e8-3d8d-55be-4cfc-f7d668e39e74) {
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
}

.text-style-nowrap {
  pointer-events: none;
  font-size: 1.125rem;
  line-height: 1.5;
  white-space: nowrap;
}

.text-style-nowrap:where(.w-variant-7b983af5-6cb7-7533-7f6f-6b1e9ff656dd) {
  font-size: 1rem;
}

.text-style-nowrap:where(.w-variant-f77d7fef-a8dc-058a-cd52-a4fc4105d929) {
  font-size: 1rem;
}

.is--text-uppercase {
  text-transform: uppercase;
}

.text-style-nowrap.is-custom {
  pointer-events: auto;
}

.text-style-nowrap.is-small {
  font-size: 0.875rem;
}